<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="css/slick.css"/>
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/iconfont/iconfont.css"/>
  <title>个人信息</title>
	<body>
		<div class="header">
			<span>个人信息</span>
			<a href="user-center.html" class="back"><i class="iconfont icon-left"></i></a>
		</div>
		<div class="step">
			<ul class="fs0">
				<li>
    			<span class="step-icon passbg">1</span>
    			<p class="step-txt">个人信息</p>
    		</li>
    		<li>
    		<span class="step-icon">2</span>
    			<p>宿舍预定</p>
    		</li>
    		<li>
    			<span class="step-icon">3</span>
    			<p>抵校登记</p>
    		</li>
    		<li>
    			<span class="step-icon">4</span>
    			<p>报到单</p>
    		</li>
    	</ul>
    	<span class="pro-line"><img src="img/pro-line4.png"></span>
		</div>
		<ul class="dorm-book">
			<li class="upload-head ta-center">
				<span>
					<img src="img/take-photo.png">
					<input type="file" />
				</span>
				<p>上传头像</p>
			</li>
			<li>
			    <span class="book-tit">姓名</span>
			    <input type="text" class="username" name="username" placeholder="请输入姓名" />
			    <div class="sex">
			    	<input type="radio" name="sex" id="sex" value="男">男
			    	<input type="radio" name="sex" id="sex" value="女">女
			    </div>
			</li>
			<li>
				<span class="book-tit">邮箱</span>
		        <input type="text" class="email" name="email" placeholder="请填写您的个人邮箱地址" />
			</li>
			<li>
				<span class="book-tit">手机</span>
		        <input type="text" class="phone" name="phone" placeholder="请填写您的个人手机号码" />
			</li>
			<li>
				<span class="book-tit">家庭主机</span>
		        <input type="text" class="landline" name="landline" placeholder="请填写您的家庭主机号码" />
			</li>
			<li>
				<span class="book-tit">移动电话</span>
		        <input type="text" class="mobeliephone" name="mobeliephone" placeholder="请填写您的家庭移动电话号码" />
			</li>
			<li>
				<div class="show-btn">
					<span class="book-tit">户口迁移</span>
			        <input type="text" class="transfer" name="transfer" placeholder="请选择户口是否迁移" disabled="disabled" />
		       </div>
		        <span class="goin"><i class="iconfont icon-right"></i></span>
		        <div class="checkshow">
		        	<p class="checked">是</p>
		        	<p>否</p>
		        </div>
			</li>
			<li>
				<div class="show-btn">
				<span class="book-tit">党员关系</span>
		        <input type="text" class="partymember" name="partymember" placeholder="请选择您的政治面貌" disabled="disabled" />
		       </div>
		        <span class="goin"><i class="iconfont icon-right"></i></span>
		        <div class="checkshow">
		        	<p class="checked">群众</p>
		        	<p>团员</p>
		        	<p>党员</p>
		        </div>
			</li>
		</ul>
		<ul class="contact-box">
			<li>
			    <span class="book-tit">紧急联系人1电话</span>
			    <input type="text" class="emergencycontactphone" name="emergencycontactphone" placeholder="请输入姓名" />
			</li>
			<li>
				<span class="book-tit">与当事人关系</span>
		        <input type="text" class="relationship" name="relationship" placeholder="请填写您与联系人1的关系" />
			</li>
		</ul>
		<ul class="contact-box">
			<li>
			    <span class="book-tit">紧急联系人2电话</span>
			    <input type="text" class="emergencycontactphone2" name="emergencycontactphone2" placeholder="请输入姓名" />
			</li>
			<li>
				<span class="book-tit">与当事人关系</span>
		        <input type="text" class="relationship2" name="relationship2" placeholder="请填写您与联系人2的关系" />
			</li>
		</ul>
		<ul class="contact-box">
			<li>
			    <span class="book-tit">所在地地址</span>
			    <input type="text" class="address" name="address" placeholder="所在地地址" disabled="disabled"/>
			    <span class="goin"><i class="iconfont icon-right"></i></span>
			</li>
			<li>
				<span class="book-tit">详细地址</span>
		        <input type="text" class="detailedaddress" name="detailedaddress" placeholder="请填写您的详细地址" />
			</li>
		</ul>
		<div class="step-btn">
				<a href="index.php?r=index/dorm" id="but" class="ta-center db">下一步</a>
                <!--<a href="dorm-book.html" class="ta-center db">下一步</a>-->
		</div>
  <script src="js/jquery-1.10.2.min.js"></script>
   <script type="text/javascript" src="js/basic.js"></script>	
  <script type="text/javascript" src="js/rem.js"></script>
  <script type="text/javascript" src="js/ajax.js"></script>
        <script>
             $(function(){
                 //给按钮加点击事件
                   $("#but").click(function(){
                       //获取文本框数据的值
                       //姓名
                       var username=$(".username").val();
                       //性别
                       var sex=$("#sex").val();
                       //邮箱
                       var email=$(".email").val();
                       //手机
                       var phone=$(".phone").val();
                       //家庭主机
                       var landline=$(".landline").val();
                       //移动电话
                       var mobeliephone=$(".mobeliephone").val();
                       //户口迁移
                       var transfer=$(".transfer").val();
                       //党员关系
                       var partymember=$(".partymember").val();
                       //紧急联系人1，电话
                       var emergencycontactphone=$(".emergencycontactphone").val();
                       //与当事人关系
                       var relationship=$(".relationship").val();
                       //紧急联系人2，电话
                       var emergencycontactphone2=$(".emergencycontactphone2").val();
                       //与当事人2关系
                       var relationship2=$(".relationship2").val();
                       //所在地址
                       var address=$(".address").val();
                       //详细地址
                       var detailedaddress=$(".detailedaddress").val();
                       //添加地址
                       var url="http://www.entrance.com/public/index/userinfo_insert";
                       //添加变量
                       var data={username:username,sex:sex,email:email,phone:phone,landline:landline,mobeliephone:mobeliephone,transfer:transfer,partymember:partymember,emergencycontactphone:emergencycontactphone, relationship:relationship,emergencycontactphone2:emergencycontactphone2,relationship2:relationship2,address:address,detailedaddress:detailedaddress};
                    //调用封装js类库
                     jqueryAdd(url,data);
                   })
             })
        </script>
	</body>
</html>
